* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1400px) {
  .header__links {
    width: 1000px;
  }
  .header__nav {
    width: 1000px;
  }
  .header__nav--ul {
    column-gap: 30px;
  }
  .header__nav__logo p {
    font-size: 25px;
  }
  .box {
    width: 1000px;
  }
  .footer__section {
    width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .header__links {
    width: 700px;
  }
  .header__nav {
    width: 700px;
  }
  .header__nav--ul {
    column-gap: 20px;
  }
  .box {
    width: 700px;
  }
  .box__links {
    column-gap: 20px;
  }
  .box__chocolate--div {
    width: 200px;
    height: 300px;
  }
  .box__logo--a {
    font-size: 20px;
  }
  .footer {
    height: auto;
    padding: 50px 0;
  }
  .footer__section {
    width: 700px;
  }
  .footer__div--two ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .header__links {
    display: none;
  }
  .header__links--location {
    display: none;
  }
  .header__nav {
    width: 350px;
  }
  .header__nav__logo img {
    width: 50px;
  }
  .header__nav__logo p {
    font-size: 22px;
  }
  .header__nav--ul {
    display: none;
  }
  .openMenu {
    display: block;
  }
  h1 {
    width: 350px;
    text-align: center;
    font-size: 47px;
  }
  .box {
    width: 350px;
  }
  .box__links {
    column-gap: 30px;
  }
  .box__chocolate {
    gap: 15px;
  }
  .box__chocolate--div {
    width: 160px;
    height: 280px;
    &:hover {
      scale: 1.01;
    }
  }
  .box__links--a p {
    display: none;
  }
  .box__links--a i {
    color: white;
  }
  .box__logo {
    height: auto;
    flex-direction: column;
    gap: 20px;
  }
  .box__logo button {
    display: none;
  }
  .box__logo--a {
    font-size: 22px;
  }
  .info__img h2 {
    width: 350px;
    text-align: center;
    font-size: 40px;
  }
  .footer {
    height: auto;
    padding: 50px 0;
  }
  .footer__section {
    width: 350px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .footer__div--one {
    align-items: center;
  }
  .footer__div--one p {
    width: 100%;
    text-align: center;
  }
  .footer__div--two ul {
    flex-direction: column;
  }
}
